.full-height {
  height: 100vh;
}

.auth-container {
  background-color: #212529;
  color: #f8f9fa;
  border-radius: 15px;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.password-wrapper {
  position: relative;
}

.password-input {
  padding-right: 40px;
}

.password-toggle-button {
  position: absolute;
  right: 1px;
  top: 72%;
  transform: translateY(-50%);
  background: none;
  color: #aaa;
}

.start-button {
  position: relative;
  background: #ff0000;
  color: #ffffff;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.start-button .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ff0000;
  color: #ff0000;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.start-button .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ff0000;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.start-button:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.start-button:hover,
.start-button:hover .tooltip,
.start-button:hover .tooltip::before {
  background: #ffffff;
  color: black;
}
